<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
{{- partial "head.html" . -}}
<body>
    <div class="main-container">
        {{ template "partials/header.html" . }}
        {{ template "partials/hero.html" . }}
        {{ template "partials/footer.html" . }}
    </div>  <!--  END main-container  -->
    {{ if .Site.GoogleAnalytics }}
    {{ template "partials/google-analytics.html" . }}
	{{ end }}
</body>

</html>