
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="robots" content="index, follow" />
	<meta name="googlebot" content="index, follow, noarchive" />
	<title>{{ $.Site.Title }} - {{ .Title }}</title>
	<link rel="icon" href="{{ $.Site.BaseURL }}{{ $.Site.Params.favicon }}" />
	<meta name="description" content="{{ $.Site.Params.description }}" />
	<!-- CSS -->
	{{ partial "styles.html" . }}
</head>